includes:
    - extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/Fixture/*
            - tests/Stubs/*
    ignoreErrors:
        - identifier: phpstanApi.interface
        - identifier: phpstanApi.method
        - identifier: phpstanApi.constructor
